[user]
  email = Chev@ChevCast.tv
  name = Chev

[core]
  editor = nvim
	pager = delta

[interactive]
	diffFilter = delta --color-only

[delta]
	navigate = true
	side-by-side = true

[alias]
	st = status -sb
	ci = commit
	br = branch
	co = checkout
	df = diff
	ready = rebase -i @{u}
	lg = log --pretty=format:'%Cred%h%Creset -%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
	standup = log --pretty=format:'%Cred%h%Creset -%Creset %s %Cgreen(%cD) %C(bold blue)<%an>%Creset' --since yesterday --author Alex
	purr = pull --rebase
	whoami = "!echo \"${GIT_AUTHOR_NAME:-$(git config user.name)} (${GIT_AUTHOR_EMAIL:-$(git config user.email)})\""

[init]
	defaultBranch = main

[pull]
	rebase = false

; Leaving this here for futrue reference. Currently using direnv to load .envrc which specifies git creds as env vars.
; [includeIf "gitdir:~/work/**/.git"]
;     path = ~/.dotfiles/.work.gitconfig
